.image_conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 5rem;
  width: 100%;
}

.image_conatiner img {
  height: 20rem;
}

.one {
  transform: translateY(-50px);
  animation: movingone 1s alternate infinite;
  transition: transform 0.7s;
}

@keyframes movingone {
  0% {
    transform: translateY(50px);
  }
  
}

.two {
  transform: translateY(50px);
  animation: movingtwo 1s alternate infinite;
  transition: transform 0.9s;
}

@keyframes movingtwo {
  0% {
    transform: translateY(-50px);
  }
}

.three {
  transform: translateY(-50px);
  animation: movingthree 1s alternate infinite;
  transition: transform 0.7s;
}

@keyframes movingthree {
  0% {
    transform: translateY(50px);
  }
}

@media (max-width:700px){
  .image_conatiner{
    flex-direction: column;
    justify-content: center;
    gap: 4em;
  }
  .image_conatiner img {
    width: 80%;
    margin: auto;
  }
}
