input {
  background-color: rgb(14, 14, 25);
}

.register_btn {
  background-color: rgb(255, 206, 39);
  text-align: center;
  margin: auto;
  height: 2.5em;
  width: 100%;
  border-radius: 1em;
  /* width: 25%; */

  transition: all 0.4s;
}

.btn:hover {
  width: 100%;
}

.upperDiv {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
}

.input_container input,
.input_container select {
  color: black;
}

.lowerdiv {
  display: flex;
}

.input_container input:hover,
.input_container select:hover {
  background-color: rgb(147, 218, 237);
}

.input_container input:focus,
.input_container select:focus {
  background-color: rgb(147, 218, 237);
  outline: none;
  color: black;
  box-shadow: none;
}

.end_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.end_image:hover h1 {
  /* position: static; */
  margin-left: 5rem;
  visibility: visible;
}

.end_image:hover img {
  /* position: static; */
}

.end_image h1,
.end_image img {
  transition: all 0.5s;
  /* position: absolute; */
}

.end_image h1 {
  /* margin-top: 5rem; */
  font-weight: 900;
  visibility: hidden;
}

/* @media(min-width: 426px) { */
.lowerdiv {
  flex-direction: column;
}

.input-flex {
  flex-direction: column;
}

.form {
  width: 90%;
  margin: auto;
}

.img_qr {
  width: 100%;
}

.Select {
  width: 100%;
  height: 2.5em;
}

.btn_class {
  width: 50%;
  margin: auto;
}

.register_btn {
  background-color: rgb(255, 206, 39);
}
.whole_form {
  background: rgba(255, 255, 255, 0.4);
  width: 90%;
  border-radius: 4px;
  /* margin: 3em; */
  margin: 5em auto;
}
/* } */

@media (min-width: 500px) and (max-width: 840px) {
  .lowerdiv {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 840px) {
  .lowerdiv {
    flex-direction: row;
  }

  .form {
    margin: 3em;
    margin-top: 0em;
  }

  .input-flex {
    flex-direction: row;
  }
  .end_image:hover h1 {
    /* position: static; */
    margin-left: 17rem;
    visibility: visible;
  }
}
