*{
    font-family: Arial, Helvetica, sans-serif;
}

.Technologies{
    text-align: center;
    margin: 10px;
    color: rgba(192, 92, 21, 0.6);
}
#strips{
    overflow-x: hidden;
}

.strip1-1,.strip1-2,.strip-3{
    width: 100vw;
    overflow-x: hidden;
}


.strip1,.strip2,.strip3{
    width: 100%;
    height: 90px;
    margin: 4em auto ;
    background: linear-gradient(to bottom,rgb(71, 152, 172),white);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
    font-weight: bold;
    
}

.strip1-text,.strip3-text{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 8em;
    animation-direction: alternate ;
    animation-name: move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}

.strip2-text{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 8em;
    animation-direction: alternate ;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}

.repeat-strip1{
    display: flex;
    flex-direction: row;
}
@keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800px);
    }
  }

  
